<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[wx]</key>
	<string>[wx]</string>
	<key>[xh]</key>
	<string>[xh]</string>
	<key>[yw]</key>
	<string>[yw]</string>
	<key>[zb]</key>
	<string>[zb]</string>
	<key>[zj]</key>
	<string>[zj]</string>
	<key>[ws]</key>
	<string>[ws]</string>
	<key>[tx]</key>
	<string>[tx]</string>
	<key>[sj]</key>
	<string>[sj]</string>
	<key>[sh]</key>
	<string>[sh]</string>
	<key>[ok]</key>
	<string>[ok]</string>
	<key>[ll]</key>
	<string>[ll]</string>
	<key>[kx]</key>
	<string>[kx]</string>
	<key>[ku]</key>
	<string>[ku]</string>
	<key>[jy]</key>
	<string>[jy]</string>
	<key>[hx]</key>
	<string>[hx]</string>
	<key>[gg]</key>
	<string>[gg]</string>
	<key>[dy]</key>
	<string>[dy]</string>
	<key>[fn]</key>
	<string>[fn]</string>
	<key>[dn]</key>
	<string>[dn]</string>
	<key>[dk]</key>
	<string>[dk]</string>
</dict>
</plist>
